<!-- 
Author: Chua Han Yong Darren 
Date: 05/08/2023 
Application: Pat's Online Minimart
File: store.html

This HTML file is adapted from an open-sourced Bootstrap template by Tutorial Republic: 
https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=crud-data-table-for-database-with-modal-form
-->
{% include 'header.html' %}
        <!-- ========================================================================================================
        MAIN CONTENT 
        ========================================================================================================= -->
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
					<!-- Minimart header -->
                    <div class="table-title">
                        <div class="row">
							<!-- Minimart title -->
                            <div class="col-sm-6">
                                <h2><b>Pat's Online Minimart</b></h2>
                            </div>
							<!-- Main actions -->
                            <div class="col-sm-6">
                                <a href="/logout" class="btn btn-primary">
                                    <i class="material-icons">logout</i>
                                    <span>Log Out</span>
                                </a>
                                <a href="#createItemModal" class="btn btn-success" data-toggle="modal">
                                    <i class="material-icons">&#xE147;</i>
                                    <span>Create New Item</span>
                                </a>
                            </div>
                        </div>
                        {% if current_user.is_authenticated %}
                        <div class="row">
                            <!-- Minimart title -->
                            <div class="col-sm-6">
                                <h6>Welcome back, {{ current_user.username }}</h6>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Minimart store -->
                    <h2 align="center">Manage Minimart Items</h2>
                    {% if items %}
                        <table class="table table-striped table-hover">
                            <!-- Table column header -->
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <!-- Table body (i.e. store items)-->
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        <a href="#updateItemModal" class="update" data-toggle="modal" onclick="openUpdateModal({{ item.id }})")">
                                            <i class="material-icons" data-toggle="tooltip" title="Update">&#xE254;</i>
                                        </a>
                                        <a href="#deleteItemModal" class="delete" data-toggle="modal" onclick="openDeleteItemModal({{ item.id }})">
                                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning">
                            There are currently no items in Pat's Online Minimart. Check back later!
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- ========================================================================================================
        MODALS FOR ADD/EDIT/DELETE ITEMS
        ========================================================================================================= -->
        <!-- Add modal -->
        <div id="createItemModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="createItemForm">
                        <!-- Modal header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Create Item</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <!-- Modal body -->
                        {% include 'item_form_elements.html' %}
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="Add">
                        </div>
                    </form>
					<script>
						document.getElementById('createItemForm').addEventListener('submit', function (event) {
							event.preventDefault(); 
							createItem(); 
						});
					</script>
                </div>
            </div>
        </div>
        <!-- Update modal -->
        <div id="updateItemModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="updateItemForm">
                        <!-- Modal header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Update Item</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <!-- Modal body -->
                        {% include 'item_form_elements.html' %}
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="Update">
                        </div>
                    </form>
                    <script>
						document.getElementById('updateItemForm').addEventListener('submit', function (event) {
							event.preventDefault(); 
							updateItem();
						});
					</script>
                </div>
            </div>
        </div>
        <!-- Delete modal -->
        <div id="deleteItemModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Item</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>Are you sure you want to delete <span></span>?</p>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete" onclick="deleteItem()">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>